---
title: Solusi Analisis Data Bisnis
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font" style="color: white;">Membantu menemukan insight data bisnis Anda</h1>
      <p class="lead mb-4" style="color: #d8d8d8;">Hai, saya Faris, siap membantu melakukan PERCEPATAN pengambilan keputusan BISNIS ANDA dengan menyajikan INSIGHT dari data bisnis Anda secara CEPAT dan EFISIEN.</p>
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">About</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/intro.svg">      
    </div>
  </div>
</div>
{% endif %}


<!-- Call to Action -->

<div style="padding-top: 0px; padding-bottom: 50px;">
<div class="container">
<!-- row -->
<div class="row justify-content-center text-center">
  <div class="col-md-9 col-12">
    <!-- heading -->
    <h2 class="display-4 ">Pengolahan Data Yang Tepat Untuk Segala Jenis Bidang Usaha</h2>
    <p class="lead  px-lg-12 mb-6">Dapat meningkatkan efisiensi kerja, pelayanan dan kepuasan pelanggan baik untuk bidang usaha komersial ataupun layanan publik</p>
    <!-- button -->
    <div class="d-grid d-md-block">
      <a href="#featured-posts" class="btn btn-info mb-2 mb-md-0">Telusuri</a>
      <!-- <a href="#" class="btn btn-info">Getting Started</a> -->
    </div>
  </div>
</div>
</div>
</div>

<!-- Featured
================================================== -->
<section class="row" id="featured-posts">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>



<!-- CTA 2 -->
<div class="py-14 ">
<div class="container">
<div class="row">
<div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
<!-- heading  -->
<h2 class="display-3 mt-4 mb-3  fw-bold">Belum menemukan yang Anda cari ?</h2>
 <!-- para  -->
<p class="lead  px-lg-8 mb-6">Kontak kami untuk mendapatkan konsultasi gratis untuk pengolahan data dan memunculkan insight dari data Anda.</p>
<a href="https://wa.me/6285601751281" class="btn btn-info">Contact Us</a>
<a href="mailto:farispriadi@gmail.com" class="btn btn-secondary">Email Us</a>
</div>
</div>
</div>
</div>


